<div class="contents row">
  <div class="container">
    <%= form_for @review, url:{action:"create"} do |f|%>
      <h3>POST</h3>
        <div class = "field">
          <%= f.label :picture %><br>
          <%= f.file_field :picture %>
          <%= f.label :usage %><br>
          <%= f.text_field :usage %>
          <%= f.label :liqour_kinds %><br>
          <%= f.text_field :liquor_kinds %>
          <%= f.label :budget %><br>
          <%= f.text_field :budget %>
          <%= f.submit "submit"%>
        </div>
    <% end %>
  </div>
</div>
